<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyLibrary</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body{
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        header{
            background-color: black;
            color: aliceblue;
            /* height: 100px; */
        }
        .container{
            width: 80%;
            padding: 20px;
        }
    </style>
</head>
<body>
    <header>
        <div class="container">
            <h1>MyLibrary</h1>
        </div>
    </header>
    <br>
    <%- body%>
    <br>
    <h1>after</h1>
    
</body>
</html>